/* Auto-Settings Styling */
#auto_save_settings ~ button {
    margin: 5px;
}
#auto_save_settings:not(:checked) ~ button {
    display: none;
}

.form-table {
    margin: auto;
}

.form-table th {
    padding-top: 15px;
    padding-bottom: 5px;
}

.form-table td:first-child > *,
.form-table th:first-child > * {
    float: right;
    white-space: nowrap;
}

.form-table td:last-child > *,
.form-table th:last-child > * {
    float: left;
}

.form-table small {
    color: rgb(153, 153, 153);
}

#system-settings .form-table td {
    height: 24px;
}

#system-settings .form-table td:last-child div {
    display: flex;
    align-items: center;
}
#system-settings .form-table td:last-child div > :not([type="checkbox"]):first-child {
    margin-left: 3px;
}

#system-settings .form-table td:last-child div small {
    padding-left: 5px;
    text-align: left;
}