#root {
  position: absolute;
  top: 0;
  left: 0;
  /*width: 100vh;*/
  /*height: 100vh;*/
  /*pointer-events: none;*/
}

.history-toggle-btn {
  margin: 1rem;
}

/* Copypasta from Bootstrap, makes content visually hidden but still accessible for screenreaders */
.visually-hidden, .visually-hidden-focusable:not(:focus):not(:focus-within) {
  position: absolute!important;
  width: 1px!important;
  height: 1px!important;
  padding: 0!important;
  margin: -1px!important;
  overflow: hidden!important;
  clip: rect(0,0,0,0)!important;
  white-space: nowrap!important;
  border: 0!important;
}


.icon {
  width: 1rem;
  height: 1rem;
}